/* src/app/layout/header/header.component.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.navbar-name {
  margin: 0;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: inherit;
}
