/* repositorie.component.scss */
.p-dataview-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.p-dataview-item-content {
  text-align: center;
}

.p-dataview-header {
  text-align: center;
  margin-bottom: 20px;
}

.image_repo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
