/* src/app/components/repositorie/repositorie.component.scss */
:host {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.repository-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.column {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.3s;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repo-details {
  flex: 1;
  min-width: 200px;
  text-align: center; /* Center the description text */
}

.repo-chart {
  flex: 0 0 60px; /* Make the pie chart smaller */
  margin-left: 20px;
}

h3 {
  margin: 0 0 10px 0;
}

p {
  margin: 5px 0;
}

.small-pie {
  width: 30px !important; /* Adjust the size of the pie chart */
  height: 30px !important; /* Adjust the size of the pie chart */
}

@media (max-width: 768px) {
  .repository-grid {
    grid-template-columns: 1fr;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
  }

  .repo-chart {
    margin-left: 0;
    margin-top: 20px;
  }
}
