<!-- src/app/components/repositorie/repositorie.component.html -->
<div>
  <h2>Repositories</h2>
  <ul>
    <li *ngFor="let repo of repositories" (click)="window.open(repo.html_url, '_blank')">
      <div class="repo-details">
        <h3>{{ repo.name }}</h3>
        <p>{{ repo.description }}</p>
        <p><strong>Last Push:</strong> {{ repo.pushed_at | date:'short' }}</p>
      </div>
      <div class="repo-chart">
        <p-chart type="pie" [data]="repo.chartData" [options]="repo.chartOptions"></p-chart>
      </div>
    </li>
  </ul>
</div>
