/* src/app/layout/footer/footer.component.scss */
.wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 100px;

  i {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 750px) {
  .wrapper {
    padding: 0 25px;
  }
}
